/* Basic styles */

body {
  background-color: rgb(240, 240, 240);
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

/* Fixed position for confetti and ribbon */

.confetti,
.github-ribbon-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Brewing space */

.brewing-space {
  padding: 1.5rem;
  background-color: white;
  z-index: 2;
}

.brewing-space .image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brewing-space #coffee-break-image {
  max-width: 400px;
  padding-bottom: 1.5rem;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 0.45rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(20, 20, 20, 0.09),
    0 0 0 1px rgba(20, 20, 20, 0.02);
  z-index: 2;
}

.footer .emoji {
  font-size: 125%;
}
